<img src="https://i.ibb.co/1MPXBQZ/ringodata-banner-v2.jpg" width="200"/>


---
-  강의 및 추가 자료 링크
- 강의 링크: [Python 강의](#)

-  소셜 미디어 및 연락처
  - 저자 SNS: [instagram](https://www.instagram.com/ringo_data/?igsh=MTlrdW4xMzZvNTBtdw%3D%3D), [LinkedIn](https://www.linkedin.com/in/ringokwon/)
  - 이메일: ringo.data1@gmail.com

---

## Datetime
python 기본내장모듈
- [참고블로그](https://velog.io/@mquat/python-%EA%B8%B0%EC%B4%88-strptime-strftime)

- __strftime__ : str from time 으로 이해해서, 날짜와 시간(datetime)을 문자열로 출력
- __strptime__ : str을 datetime으로 변환

# to_datetime
- 시간 관련 데이터를 Python의 datetime 객체로 변환
- 다양한 형태의 날짜 및 시간 데이터를 처리할 수 있음
```python
pd.to_datetime(df['col'])
pd.datetime.strptime(df['col'], "%Y%m%d%H%M")  # datetime 포맷에서 원하는 형태 str으로 변환
```

In [10]:
import pandas as pd

df = pd.read_csv('taxis.csv')
df.head(2)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   object
 1   dropoff          6433 non-null   object
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: float64(5), int64(1), object(8)
memory usage: 703.7+ KB

In [19]:
df['pickup'] = pd.to_datetime(df.pickup)
df.head(2)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   object
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(1), object(7)
memory usage: 703.7+ KB

# to_period
- 날짜/시간 데이터를 주어진 주기('M', 'W', 'Y' 등)로 변환
```python
 df['col'].dt.to_period('period').dt.strftime('%Y-%m-%d')
# to_period('period') : Daily(D), Weekly(W), Monthly(M), Yearly(Y) 등 주기로 나타냄
# dt.strftime('%Y-%m-%d') : 'YYYY-MM-DD' 형태로 표시함
 ```
 [python string format doc](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior)

In [35]:
print(df.pickup.dt.to_period('W')[0])
# df.dropoff.dt.to_period 하면 오류남. datetime dtype이 아니라서.

# 주의 마지막 날짜로 표시됨
df['pickup_w'] = df.pickup.dt.to_period('W').dt.strftime("%Y-%m-%d")

# 주의 시작 날짜로 표시됨
df['pickup_w'] = df.pickup.dt.to_period('W').dt.start_time

df.head(2)

2019-03-18/2019-03-24

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,pickup_w
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,2019-03-18
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,2019-03-04

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   object
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
 14  pickup_w         6433 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(5), int64(1), object(7)
memory usage: 754.0+ KB

### parse_dates
- [link](https://rfriend.tistory.com/536)

In [49]:
import pandas as pd

df = pd.read_csv('taxis.csv',
                 parse_dates=['pickup', 'dropoff'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

In [53]:
import pandas as pd
from datetime import datetime

dt_parser = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')

df = pd.read_csv('taxis.csv',
                 parse_dates=['pickup', 'dropoff'],
                 date_parser=dt_parser)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

/var/folders/yg/qfgv53pn6w59q5vzqwmxv92w0000gn/T/ipykernel_21741/1145897115.py:6: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv('taxis.csv',

# timedelta
- 두 날짜 또는 시간 사이의 차이를 나타내는 데 사용
```python
df['duration'] = (df['end'] - df['start']).dt.total_seconds()
```

In [54]:
df.dropoff - df.pickup

0      0 days 00:06:15
1      0 days 00:07:05
2      0 days 00:07:24
3      0 days 00:25:52
4      0 days 00:09:32
             ...
6428   0 days 00:03:34
6429   0 days 00:56:23
6430   0 days 00:19:07
6431   0 days 00:05:04
6432   0 days 00:16:40
Length: 6433, dtype: timedelta64[ns]

In [57]:
df["min_duration_incar"] = (df.dropoff - df.pickup).dt.total_seconds()//60
df.head(2)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,min_duration_incar
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,6.0
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,7.0

# Exercise
- 일시정지 후 스스로 문제를 풀어보고 강의를 수강해 주세요
```python
# 데이터프레임 생성을 위한 딕셔너리
data = {
    'start': ['2021-01-01 10:00', '2021-01-02 11:30', '2021-01-03 09:45', '2021-01-04 15:00', '2021-01-05 18:20'],
    'end': ['2021-01-01 15:30', '2021-01-02 01:00', '2021-01-04 10:15', '2021-01-05 15:30', '2021-08-05 18:50']
}
# 데이터프레임 생성
df = pd.DataFrame(data)
df.info()
```

start 열과 end 열이 있는 DataFrame df가 주어집니다.
1. for 루프를 사용하여 DataFrame의 'start' 열과 'end' 열을 datetime 유형으로 변환하십시오.
2. start에서 end까지의 시간 차이를 시간 단위로 계산하십시오. 시간 이하 단위의 차이는 소수점으로 표시하십시오.
3. 'end' 열의 날짜들을 주 단위('W')로 변환하고, 이를 'yyyy-mm-dd' 형태의 문자열로 표현하십시오.

In [67]:
# 1. for 루프를 사용하여 DataFrame의 'start' 열과 'end' 열을 datetime 유형으로 변환하십시오.

import pandas as pd

data = {
    'start': ['2021-01-01 10:00', '2021-01-02 11:30', '2021-01-03 09:45', '2021-01-04 15:00', '2021-01-05 18:20'],
    'end': ['2021-01-01 15:30', '2021-01-02 01:00', '2021-01-04 10:15', '2021-01-05 15:30', '2021-08-05 18:50']
}
# 데이터프레임 생성
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   5 non-null      object
 1   end     5 non-null      object
dtypes: object(2)
memory usage: 212.0+ bytes

In [68]:

cols = ['start', 'end']
for col in cols:
    df[col] = pd.to_datetime(df[col])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   5 non-null      datetime64[ns]
 1   end     5 non-null      datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 212.0 bytes

In [66]:
# 2. start에서 end까지의 시간 차이를 시간 단위로 계산하십시오. 시간 이하 단위의 차이는 소수점으로 표시하십시오.

(df.end - df.start).dt.total_seconds()/3600

0       5.5
1     -10.5
2      24.5
3      24.5
4    5088.5
dtype: float64

In [74]:
# 3. 'end' 열의 날짜들을 주 단위('W')로 변환하고, 이를 'yyyy-mm-dd' 형태의 문자열로 표현하십시오.

# df.end.dt.to_period('W').dt.strftime('%Y-%m-%d')
df.end.dt.to_period('W').dt.start_time

0   2020-12-28
1   2020-12-28
2   2021-01-04
3   2021-01-04
4   2021-08-02
Name: end, dtype: datetime64[ns]

In [73]:
df.head(2)

                start                 end
0 2021-01-01 10:00:00 2021-01-01 15:30:00
1 2021-01-02 11:30:00 2021-01-02 01:00:00

---
-  🔒 저작권 및 사용 조건 (중요)
  - **저작권 보호**: 이 강의 노트는 저작권법에 의해 엄격히 보호됩니다.
  - **무단 사용 금지**: 어떠한 형태로든 상업적 사용이 엄격히 금지됩니다.
  - **개인용도 한정**: 이 자료는 교육 목적으로만 사용이 허가되며, 개인적인 학습 외의 목적으로 사용할 수 없습니다.
  - **위반 시 조치**: 저작권법 위반 시 법적 조치가 취해질 수 있습니다.
---

<img src="https://i.ibb.co/1MPXBQZ/ringodata-banner-v2.jpg" width="200"/>